body{
  font-family: 'Open Sans', sans-serif;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg_img{
  background: url(../images/bg-hero-desktop.svg) no-repeat;
} 

.main_header {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  margin: 2.8rem 0;
}

.header__img {
  width: 10rem;
  height: 2rem;

}

.main_button {
  font-family: 'Poppins', sans-serif;
  width: 10rem;
  padding: 0.6rem;
  border: none;
  border-radius: 20px;
  color: var(--Very-Dark-Cyan);
  background-color: white;
  box-shadow: 1px 1px 10px var(--Grayish-Blue);
  cursor: pointer;
  transition: 0.2s;
}
.main_button:hover{
  color: var(--Grayish-Blue);
}

.main_container{
  display: flex;
  margin-bottom: 8rem;
  padding: 0 4rem;
}
.container__box{
  width: 50%;
  margin-top: 4rem;
  padding: 2rem;
  padding-right: 2.4rem;
}

.container__title{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  width: 26rem;
  color: var(--Very-Dark-Cyan);
}

.container__text{
  font-size: 1.18rem;
  font-weight: 400;
  color: var(--Very-Dark-Cyan);
  margin: 2rem 0;
}
.buttons{
  font-family: 'Poppins', sans-serif;
  width: 15rem;
  padding: 0.8rem;
  border: none;
  border-radius: 30px;
  color: white;
  background-color: var(--pink);
}
.buttons:hover{
  filter: brightness(1.4);
  cursor: pointer;
}

.container__img{
  width: 50%;
}

.sections{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 25rem;
  margin: 2rem 0;
  box-shadow: 0px 0px 10px var(--Very-Pale-Cyan);
}
.sections.-reverse{
  flex-direction: row-reverse;
}
.sections__box{
  width: 50%;
}

.box__title{
  font-size: 1.6rem;
  color: var(--Very-Dark-Cyan);
  margin-bottom: 1rem;
}
.box__text{
  width: 29.2rem;
  color: var(--Grayish-Blue);
}

.sections__imgs{
  width: 30%;
}
.div_position_section{
  width: 100%;
  position: relative;
  margin-top: 10rem;
}
.section__button{
  position: absolute;
  left: 32.2%;
  bottom: 76%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 11rem;
  border-radius: 10px;
  background-color: white;
}
.section__button__title{
  margin-bottom: 2rem;
}
.footer{
  display: flex;
  flex-wrap: wrap;
  padding: 8rem 4rem 0 4rem;
  color: white;
  background-color: var(--Very-Dark-Cyan);
}

.footer__img{
  margin-bottom: 2rem;
}
.div__icon__contact{
  display: flex;
  margin-bottom: 2rem;
}
.footer__icons{
  width: 0.8rem;
  height: 1rem;
  margin-right: 1rem;
}
.footer__location{
  font-size: 0.9rem;
  width: 20rem;
  line-height: 1.4;
}

.footer__nav{
  width: 35rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 4.8rem;
  margin-left: 2rem;
}

.footer__nav__contact{
  color: white;
  text-decoration: none;
  margin-bottom: 1rem;
}

.footer__icons__social{
  width: 10rem;
  margin-top: 4.8rem;
}
.footer__svg{
  width: 50px;
}

.footer__copy{
  font-size: 0.8rem;
  width: 100%;
  margin-bottom: 2rem;
  text-align: end;
}